
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta httpg-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} MR.Django| {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'custom/css/base.css' %}" type="text/css" >
   
</head>
<body>
    
{%include 'includes/header.html' %}
{%include 'includes/navbar.html' %}

{% block content %}
    
{% endblock %}
</body>
</html>
